{% extends 'asset/base.html' %}
{% load static %}
{% block content %}

    <nav class="navbar navbar-expand-md text-white">
        <a class="navbar-brand" href="{% url 'asset_home' %}">
            <svg _ngcontent-c3="" height="24" viewBox="0 0 96 24" width="96" xmlns="http://www.w3.org/2000/svg">
                <g _ngcontent-c3="" fill="none">
                    <path _ngcontent-c3=""
                          d="M15.807 14.661c.484 0 .925.196 1.242.516.317.318.515.758.515 1.241 0 .485-.198.925-.515 1.243-.317.319-.758.516-1.242.516-.483 0-.923-.196-1.24-.516-.319-.318-.515-.758-.515-1.243 0-.97.787-1.757 1.756-1.757zm-1.242-6.516c.686-.686 1.798-.686 2.484 0 .674.675.685 1.763.033 2.452l-.033.034-7.024 7.031c-.687.686-1.798.686-2.484 0-.674-.675-.685-1.762-.033-2.452l.033-.034 7.025-7.03zm-9.297 2.275c.686-.686 1.798-.686 2.484 0 .674.675.685 1.762.033 2.45l-.033.034-4.753 4.757c-.686.686-1.798.686-2.484 0-.674-.675-.685-1.762-.033-2.452l.033-.034 4.753-4.756zm2.273-9.305c.686-.688 1.797-.688 2.482 0 .674.675.685 1.762.033 2.45l-.033.034-7.024 7.032c-.686.686-1.798.686-2.484 0-.674-.676-.686-1.763-.033-2.452l.033-.034 7.026-7.03zm7.026-.002c.686-.686 1.798-.686 2.484 0 .674.675.685 1.762.033 2.45l-.033.034-4.753 4.757c-.686.686-1.798.686-2.484 0-.674-.675-.685-1.762-.033-2.452l.033-.034 4.753-4.756zm-12.81-.514c.484 0 .923.197 1.242.516.317.318.515.758.515 1.241 0 .485-.198.925-.515 1.243-.319.319-.758.516-1.242.516-.483 0-.923-.196-1.242-.516-.317-.318-.514-.758-.514-1.243 0-.969.787-1.757 1.756-1.757z"
                          fill="#0096FF" id="Shape"></path>
                    <path _ngcontent-c3=""
                          d="M52.097 4.321l3.06 8.287 3.037-8.287h4.389l-8.303 19.541h-4.365l3.037-6.743-5.385-12.798h4.531zm17.079-.19c3.891 0 6.88 2.612 6.88 6.814 0 4.203-3.037 6.815-6.927 6.815-3.891 0-6.832-2.612-6.832-6.815s3.013-6.814 6.88-6.814zm-35.072-3.229c3.392 0 5.409 1.686 5.409 4.321 0 2.018-1.21 3.324-2.823 3.799 1.945.404 3.203 2.113 3.203 4.013 0 2.754-2.017 4.535-5.528 4.535h-7.757v-16.668h7.497zm12.194-.902v17.57h-4.057v-17.57h4.057zm36.495 1.092v3.229h2.657v3.372h-2.657v5.319c0 .783.332 1.116 1.234 1.116h1.447v3.443h-2.064c-2.752 0-4.674-1.164-4.674-4.606v-5.271h-1.613v-3.372h1.613v-3.229h4.057zm9.631 0v3.229h2.657v3.372h-2.657v5.319c0 .783.332 1.116 1.234 1.116h1.447v3.443h-2.064c-2.752 0-4.674-1.164-4.674-4.606v-5.271h-1.613v-3.372h1.613v-3.229h4.057zm-58.818 9.521h-2.942v3.68h2.989c1.352 0 2.135-.617 2.135-1.804s-.83-1.876-2.182-1.876zm35.57-2.968c-1.471 0-2.752 1.045-2.752 3.3 0 2.232 1.234 3.3 2.705 3.3 1.447 0 2.799-1.068 2.799-3.3 0-2.256-1.329-3.3-2.752-3.3zm-35.855-3.49h-2.657v3.49h2.657c1.328 0 2.064-.594 2.064-1.733 0-1.14-.736-1.757-2.064-1.757z"
                          fill="#fff"></path>
                </g>
            </svg>

        </a>

        <div class=" navbar-collapse"
             id="navbarNavDropdown01">

            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{  config.lang.SearchHeader1 }}
                    </a>

                    {% if searches %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for drop in searches %}
                                <a class="dropdown-item" href="{% url 'asset_search' drop.query %}">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                    </svg>
                                    {{ drop.button_text }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </li>
                <span class="pt-3 px-3 text-light">{{ config.lang.SearchHeader2 }}</span>
            </ul>

            <!--Form item of menu for search purpose-->
            <form class="form-inline main_form" method="GET" action="{% url 'asset_search' 'global' %}" name="user_query">
                <input class="form-control query_input" required type="search" placeholder="{{ config.lang.SearchHeader3 }}" aria-label="Search" name="query" value="{{ request.GET.query }}">
                <button class="btn search_button border-0 act" role="button" type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                </button>
                <div class="btn-group btn-group-toggle toggle_buttons" id="target" data-toggle="buttons">
                    <label class="btn {% if request.GET.target == 'naam' or request.GET.target == None %} active {% endif %}">
                        <input type="radio" name="target" autocomplete="off" value="naam" checked> {{ config.lang.SearchHeader4 }}
                    </label>
                    <label class="btn {% if request.GET.target == 'code' %} active {% endif %}" for="code">
                        <input type="radio" name="target" autocomplete="off" value="code"> {{ config.lang.SearchHeader5 }}
                    </label>
                </div>
            </form>
            {% if assets %}
                <button class="btn clear_button">
                    {{ config.lang.SearchHeader6 }}
                </button>
            {% endif %}
        </div>
    {% if request.user.is_staff %}
        <a class="text-white mr-2 btn" href="{% url 'recent-searches' %}">Recent searches</a>
        <a class="text-white mr-2 btn" href="/admin">Admin</a>
    {% endif %}
        {% if request.user.is_authenticated %}
        <a class="text-white mr-2 btn" href="{% url 'logout' %}?next=/">Logout</a>
    {% endif %}
    </nav>


    <div class="results_wrapper">
        {% if assets is not None %}
            <div class="container pt-4">
            <div class="col-12">
            {% if assets %}
                                <span class="pl-1" style="font-size: 15px; color:#A4A4A2;"> {{ config.lang.BodyHeader1 }} <strong style="color:black;"> {{ total_count|default:0 }} </strong>  {{ config.lang.BodyHeader2 }} <strong style="color: black"> {{ query }} </strong>. </span>


                                <div class="btn btn-success float-right  show-all mb-2 rounded-0 ml-1">{{ config.lang.BodyHeader4 }}</div>
                                <div class="btn btn-success float-right hide-all  active mb-2 rounded-0 ml-1">{{ config.lang.BodyHeader3 }}</div>
                            {% endif %}
            </div>
            </div>
            <div class="container results_list mt-4" {% if not assets %} style="background-color: transparent; color: white" {% endif %}>
                <div class="col-12">
                    <div class="panel panel-default">

                        <!--            <div class="panel-heading">-->
                        <!--                <h3>Assets</h3>-->
                        <!--            </div>-->
                        <div class="panel-body">

                            <table class="table table-condensed">

                                {% for group in assets %}
                                    <tbody class="bg-white">
                                    <tr data-toggle="collapse" data-target="#demo{{ forloop.counter }}" class="accordion-toggle bg-white collapsed">
                                        <td colspan="6" class="header_row">

                                            {% with group.items|first as first_item %}
						<span class="small mr-2" style="color: #adb1bb">{{ config.lang.BodyHeader5 }}:</span>
                                                <span class="badge cusotm-badge " style="background-color: #31324a;">{{ group.items|length }}</span>
						<span class="small" style="color: #adb1bb; margin-left: 100px;">Gebouw:&nbsp; <strong class="text-dark">
							{% if  first_item.group|slice:':2' == 'ZH' %}
                                                            Ziekenhuis
							{% elif first_item.group|slice:':2' == 'KK' %}
                                                            Klooster&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        {% else %}
                                                            {{ first_item.group|slice:':2' }}
                                                        {% endif %}                                                    </strong></span>
                                                    <span class="small" style="color: #adb1bb; margin-left: 140px;">{{ config.lang.BodyHeader6 }}:&nbsp; <strong class="text-dark">
                                                        {% if  first_item.group|slice:'2:3' == '9' %}
                                                            -1
                                                        {% elif first_item.group|lower == 'unknown' %}
                                                            unknown
                                                        {% else %}
                                                            {{ first_item.group|slice:'2:3' }}
                                                        {% endif %}
                                                    </strong></span>
                                                    <span class="small" style="color: #adb1bb; margin-left:  {% if first_item.group|lower == 'unknown' %} 145px {% else %} 190px {% endif %};">{{ config.lang.BodyHeader7 }}: &nbsp;<strong class="text-dark">
							{% if first_item.group|slice:':2' == 'KK' %}
                                                        
							{% elif first_item.group|slice:'3:4' == 'O' %}
                                                            Oost
                                                        {% elif first_item.group|slice:'3:4' == 'W' %}
                                                            West
                                                        {% elif first_item.group|slice:'3:4' == 'Z' %}
                                                            Zuid
                                                        {% elif first_item.group|slice:'3:4' == 'N' %}
                                                            Noord
                                                        {% elif first_item.group|slice:'3:4' == 'A' %}
                                                            Atrium
                                                        {% elif first_item.group|lower == 'unknown' %}
                                                            unknown
                                                        {% else %}
                                                            {{ first_item.group|slice:'3:4' }}
                                                        {% endif %}
                                                    </strong></span>

                                                <div class="info_right float-right">
                                                    <span class="moving_icon float-right">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                          <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                                                        </svg>
                                                    </span>
                                                </div>
                                            {% endwith %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="hiddenRow">
                                            <div class="accordian-body collapse" id="demo{{ forloop.counter }}">
                                                <table class="table mb-0 inner_table">
                                                    <tbody>
                                                    <tr class="">
                                                        <th>{{ config.lang.BodyHeader9 }}</th>
                                                        <th style="width: 28%">{{ config.lang.BodyHeader10 }}</th>
                                                        <th>{{ config.lang.BodyHeader11 }}</th>
                                                        <th>{{ config.lang.BodyHeader12 }}</th>
                                                        <th>{{ config.lang.BodyHeader8 }}</th>
							<th>Laatst gezien</th>
                                                    </tr>
                                                    {% for row in group.items %}
                                                        <tr>
                                                            <td>{{ row.location_code|default:'-' }}</td>
                                                            <td style="width: 28%">{{ row.location_name|default:'-' }}</td>
                                                            <td>{{ row.name|default:'unknown' }}</td>
                                                            <td>{{ row.code|default:'unknown' }}</td>
                                                            <td>{{ row.Eigenaar|default:'-' }}</td>

							    {% if row.timelastseen == 'unknown' %}
                                                                <td>{{ row.timelastseen }}</td>
                                                            {% else %}
                                                                <td>{{ row.timelastseen|date:"d/m - H:i" }}</td>
                                                            {% endif %}                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>

                                    </tr>
                                    </tbody>
                                {% empty %}
                                    {% if not message %}
                                        <div class="text-center error_message">
                                            <strong class="text-dark font-weight-bold h4">No items found.</strong>
                                        </div>
                                    {% endif %}
                                {% endfor %}


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if message %}
            <div class="container">
                <div class="text-center error_message">
                    <strong class="text-dark font-weight-bold h4">{{ message }}</strong>
                </div>
            </div>
        {% endif %}
    </div>

    {#    {% if searches %}#}
    {#        <div class="fav_wrapper white-bg">#}
    {#            <div class="action_buttons btn-group-vertical ">#}
    {#                {% for search in searches %}#}
    {#                    <a href="{% url 'asset_search' search.query %}">#}
    {#                        <button type="button" class="btn btn-sm  mb-2">{{ search.button_text }}</button>#}
    {#                    </a>#}
    {#                {% endfor %}#}
    {##}
    {#            </div>#}
    {#            <div class="fav-icon">#}
    {#                <svg class="grid" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-grid-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">#}
    {#                    <path fill-rule="evenodd" d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"/>#}
    {#                </svg>#}
    {#                <svg class="cross" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">#}
    {#                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>#}
    {#                </svg>#}
    {#            </div>#}
    {#        </div>#}
    {#    {% endif %}#}
{% endblock %}

