{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Blyott</title>
</head>
<body>
{% block content %}


{% endblock %}
<div class="spinner">

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.fav-icon').on('click', function () {
            $('.fav-icon').toggleClass('activated')
            {#$(this).find('.cross').css({'display':'block'})#}
            {#$(this).find('.grid').css({'margin-bottom':'104px', 'display':'none'})#}
            $('.fav_wrapper .action_buttons').slideToggle('fast')
        });

        $('.act').on('click', function () {
            if ($(this).hasClass('search_button') && ($('.query_input').val() !== '')) {
                $('.spinner').css({'opacity':1, 'width':'55px'})
                $('.control_wrapper').hide()
                $('.results_wrapper .container').remove()
                $('.error_message').remove()
            }
        });
        $('.dropdown-item').on('click', function () {
                $('.spinner').css({'opacity':1, 'width':'55px'})
                $('.control_wrapper').hide()
                $('.results_wrapper .container').remove()

        });

        $('.show-all').on('click', function () {
            $(".collapse").collapse('show');
            $(this).addClass('active')
            $('.hide-all').removeClass('active')
        });
        $('.hide-all').on('click', function () {
            $(".collapse").collapse('hide');
            $(this).addClass('active')
            $('.show-all').removeClass('active')
        });

        $('.clear_button').on('click', function () {
            $('.results_wrapper .container').remove()
            $(this).remove()
        });

    });
</script>
</body>
</html>
