{% extends 'asset/base.html' %}
{% load static %}
{% block content %}
  <div class="restricted">
  <div class="strong h4" style="font-family: monospace">Please ask admin to activate API for your account.</div>
  </div>
{% endblock %}

