@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.dashboard {
    font-family: 'Lato', sans-serif;
    background: #f5f6f8;
}
#changelist{
    background: transparent;
}

#changelist-filter h2, .module h2, .breadcrumbs {
    background-color: #0096ff !important;
}

.content, #nav-sidebar {
    background-color: #f5f6f8;
}

.addlink {
    background: #0096ff !important;
    opacity: 1;
    padding: 2px 10px;
    color: white !important;
}

.content h1 {
    font-weight: bold;
    font-family: inherit;
    color: #20213A;
}

caption {
    color: white;
    background: #20213a !important;
    font-weight: bold !important;
    font-family: inherit !important;
}

.submit-row input[value="Log in"] {
    background-color: #20213a;
    color: white;
    width: 100%;
    margin-left: -60px;
}
.submit-row input[value="Save"]{

    background-color: #20213a;
    color: white;
}
.submit-row input:hover, .submit-row input:active {
    background-color: #0096ff !important;
    color: white;
}
.actionlist li{
    background: #f8f8f8  !important;
}
#header,input[type='submit'] {
    background-color: #20213a;
}

