@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow: none;
    outline: 0 none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover {
    box-shadow: none !important;
    outline: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: #F5F6F6;;
}

/*navbar with all controls*/
.navbar {
    height: 100px;
    background-color: #20213a;
}

.dropdown {
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 160px;
}

.dropdown a {
    height: 19px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #adb1bb;
    width: 220px;
}

@media only screen and (max-width: 1300px) {
    .dropdown {
        margin-left: 20px;
    }
}

.dropdown-toggle {
    padding-top: 14px;
    padding-left: 25px !important;
    width: 220px;
    padding-bottom: 35px;
}


.dropdown-toggle:after {
    float: right;
    font-size: 25px;
    color: black;
    margin-top: 7px;
}

.dropdown-item {
    height: 40px !important;
}

.dropdown-item svg {
    margin-right: 12px;
}

.query_input {
    width: 400px !important;
    height: 50px;
    border-radius: 5px;
    border: solid 0.8px #ffffff;
    background-color: #ffffff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search_button, .clear_button {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #0096ff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clear_button {
    padding: 0px 15px;
    height: 35px;
    border-radius: 4px;
    margin-left: 50px;
    font-size: 16px;
    width: auto;
}

.main_form {
    position: relative;
}

.toggle_buttons {
    position: absolute;
    right: 60px;
}

.toggle_buttons .btn {
    width: 65px;
    height: 30px;
    border-radius: 15px !important;
    background-color: #f7f8f9;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #adb1bb;
    z-index: 9;
    box-shadow: 0 0 4px 0 rgba(173, 177, 187, 0.5), 0 2px 4px 0 rgba(173, 177, 187, 0.6);

}

.toggle_buttons .btn.active {
    background-color: #0096ff;
    z-index: 10;
    color: white;
}

.toggle_buttons .btn:nth-child(1) {
    margin-right: -15px;
}


.action_buttons .btn {
    border-radius: 1px !important;
    color: white !important;
}

.hiddenRow {
    padding: 0 !important;
}

.inner_table {
    background-color: #f5f6f8 !important;
}

.inner_table td, .inner_table th {
    padding: 6px 12px;
}

.control_wrapper, .error_message {
    margin-top: calc(100vh / 2 - 245px);
}

.top-controls {
    margin-top: -54px;
}

.results_list {
    max-height: calc(100vh - 205px);
    overflow: auto;
    background: #F5F6F6;
}

tr.accordion-toggle {
    cursor: pointer;
}

.inner_table td {
    font-size: 13.5px;
    color: #040523;
    padding: 12px 10px;
}

.inner_table th {
    font-size: 14px;
    font-weight: 500;
    color: #878686;
}


table {
    table-layout: fixed;
    word-wrap: break-word;
}


table .header_row {
    border-top: 0 !important;
    border-radius: 7px !important;
    padding: 1rem;
    font-weight: 900;
    font-size: 18px;
}

table .header_row:hover {
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.results_wrapper {
    width: 100%;
    height: calc(100vh - 140px);
    background-color: #f5f6f8;
    overflow: hidden;
}


.cusotm-badge {
    background-color: #31324a;
    width: 60px;
    font-size: 18px;
    color: white;
}

.moving_icon {
    margin-left: 100px;
    background: #f6f7f8;
    padding: 1px 9px;
}

.moving_icon svg {
    transition: all ease .4s;
}

.collapsed .moving_icon svg {
    transform: rotate(180deg);
}

.table tbody + tbody {
    border-top: 6px solid #f5f6f8;
}

/*floating button*/
.fav_wrapper {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fav-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 99999999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fav_wrapper.white-bg {
    background-color: #20213a;
}


.grid {
    display: inline-block;
    margin-bottom: -3px;
}

.white-bg .grid {
    color: white;
}

.cross {
    font-size: 20px;
    display: none;
}

.white-bg .cross {
    color: white;
}

.fav_wrapper .action_buttons .btn {
    background-color: #0096ff;
    border-radius: 18px !important;
}

.fav_wrapper.white-bg .action_buttons .btn {
    background-color: #20213a !important;
    color: white;
}

.fav_wrapper.white-bg .action_buttons .btn:hover {
    background-color: white !important;
    color: #20213a;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3) !important;
}

.fav_wrapper .action_buttons .btn:hover {
    background-color: white;
    color: black !important;
}

.fav_wrapper .action_buttons {
    position: fixed;
    bottom: 115px;
    align-items: initial !important;
    display: none;
    width: 140px;
    right: 30px;
}

.activated .grid {
    margin-bottom: 104px;
    display: none;
}

.activated .cross {
    display: block;
}

.spinner {
    opacity: 0;
    width: 0;
    height: 55px;
    background-color: transparent;
    border-radius: 50%;
    position: fixed;
    left: 50%;
    bottom: 50%;
    border: 5px solid;
    border-color: #0096ff;
    border-left-color: #174170;
    z-index: 999999;
    right: 0;
    animation: rotation 1.7s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.show-all, .hide-all {
    background: transparent;
    width: 140px;
    transition: all .5s ease;
    color: #383048;
    padding: 5px 0px;
    border-color: transparent !important;
}

.show-all.active, .hide-all.active, .show-all:hover, .show-all:active, .show-all:focus, .hide-all:hover, .hide-all:active, .hia-all:focus {
    background-color: #adb1bb !important;
    color: white;
    border-color: transparent !important;
}

.found_error {
    position: fixed;
    top: 270px;
}

.restricted {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
