{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'asset_home' %}">
<svg _ngcontent-c3="" height="24" viewBox="0 0 96 24" width="96" xmlns="http://www.w3.org/2000/svg"><g _ngcontent-c3="" fill="none"><path _ngcontent-c3=""
                                                                                                                                                  d="M15.807 14.661c.484 0 .925.196 1.242.516.317.318.515.758.515 1.241 0 .485-.198.925-.515 1.243-.317.319-.758.516-1.242.516-.483 0-.923-.196-1.24-.516-.319-.318-.515-.758-.515-1.243 0-.97.787-1.757 1.756-1.757zm-1.242-6.516c.686-.686 1.798-.686 2.484 0 .674.675.685 1.763.033 2.452l-.033.034-7.024 7.031c-.687.686-1.798.686-2.484 0-.674-.675-.685-1.762-.033-2.452l.033-.034 7.025-7.03zm-9.297 2.275c.686-.686 1.798-.686 2.484 0 .674.675.685 1.762.033 2.45l-.033.034-4.753 4.757c-.686.686-1.798.686-2.484 0-.674-.675-.685-1.762-.033-2.452l.033-.034 4.753-4.756zm2.273-9.305c.686-.688 1.797-.688 2.482 0 .674.675.685 1.762.033 2.45l-.033.034-7.024 7.032c-.686.686-1.798.686-2.484 0-.674-.676-.686-1.763-.033-2.452l.033-.034 7.026-7.03zm7.026-.002c.686-.686 1.798-.686 2.484 0 .674.675.685 1.762.033 2.45l-.033.034-4.753 4.757c-.686.686-1.798.686-2.484 0-.674-.675-.685-1.762-.033-2.452l.033-.034 4.753-4.756zm-12.81-.514c.484 0 .923.197 1.242.516.317.318.515.758.515 1.241 0 .485-.198.925-.515 1.243-.319.319-.758.516-1.242.516-.483 0-.923-.196-1.242-.516-.317-.318-.514-.758-.514-1.243 0-.969.787-1.757 1.756-1.757z"
                                                                                                                                                  fill="#0096FF" id="Shape"></path><path _ngcontent-c3=""
                                                                                                                                                                                         d="M52.097 4.321l3.06 8.287 3.037-8.287h4.389l-8.303 19.541h-4.365l3.037-6.743-5.385-12.798h4.531zm17.079-.19c3.891 0 6.88 2.612 6.88 6.814 0 4.203-3.037 6.815-6.927 6.815-3.891 0-6.832-2.612-6.832-6.815s3.013-6.814 6.88-6.814zm-35.072-3.229c3.392 0 5.409 1.686 5.409 4.321 0 2.018-1.21 3.324-2.823 3.799 1.945.404 3.203 2.113 3.203 4.013 0 2.754-2.017 4.535-5.528 4.535h-7.757v-16.668h7.497zm12.194-.902v17.57h-4.057v-17.57h4.057zm36.495 1.092v3.229h2.657v3.372h-2.657v5.319c0 .783.332 1.116 1.234 1.116h1.447v3.443h-2.064c-2.752 0-4.674-1.164-4.674-4.606v-5.271h-1.613v-3.372h1.613v-3.229h4.057zm9.631 0v3.229h2.657v3.372h-2.657v5.319c0 .783.332 1.116 1.234 1.116h1.447v3.443h-2.064c-2.752 0-4.674-1.164-4.674-4.606v-5.271h-1.613v-3.372h1.613v-3.229h4.057zm-58.818 9.521h-2.942v3.68h2.989c1.352 0 2.135-.617 2.135-1.804s-.83-1.876-2.182-1.876zm35.57-2.968c-1.471 0-2.752 1.045-2.752 3.3 0 2.232 1.234 3.3 2.705 3.3 1.447 0 2.799-1.068 2.799-3.3 0-2.256-1.329-3.3-2.752-3.3zm-35.855-3.49h-2.657v3.49h2.657c1.328 0 2.064-.594 2.064-1.733 0-1.14-.736-1.757-2.064-1.757z"
                                                                                                                                                                                         fill="#fff"></path></g></svg>

</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

